{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}?v=1">
        {% block extra_css %}{% endblock %}
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
        <title>HCAI project</title>
        
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        
        <!-- Alpine.js -->
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="grid-parent">
            {% block content %}
            {% endblock %}
        </div>

        {% block script %}
        {% endblock script %}
    </body>
</html>